@import "variables";

.search {
  &-container {
    display: inline-block;
    left: 660px;
    position: relative;
    top: -31px;
    transition: all 0.5s ease-out;
    width: 160px;
    margin-bottom: -20px;

    input {
      width: 100%;
      transition: background-color 0.2s ease-in;

      &:hover {
        background-color: var(--accent-alpha-20);
      }
    }

    @media (max-width: $phone-max-width) {
      left: 0 !important;
      margin-bottom: 20px;
      top: 20px;
      width: 100%;
    }

    @media (max-width: $tablet-max-width) {
      left: 225px;
    }
  }

  &-results {
    background-color: var(--accent-alpha-20);
    backdrop-filter: blur(10px);
    border-style: inset;
    color: var(--accent-secondary);
    display: none;
    z-index: 1;
    max-height: 500px;
    overflow: auto;
    padding: 1rem;
    position: absolute;
    right: 0;
    width: 300%;

    @media (max-width: $phone-max-width) {
      width: 100%;
    }

    @media (max-width: $tablet-max-width) {
      left: 0;
    }

    &__number {
      font-size: small;
      text-align: end;
      margin: -15px 5px -25px;
    }

    &__item {
      margin-bottom: 1rem;

      .title {
        margin-bottom: -3px;
      }

      a {
        display: inline-block;
        font-size: $font-size;
        margin-bottom: 0.5rem;
      }
    }

    &__items {
      list-style: none;
    }

    li {
      border-bottom: 1px solid var(--color);
      font-size: 0.9rem;
      margin-top: 1rem;

      &:first-of-type {
        margin-top: 0;
      }

      &:last-of-type {
        border: none;
      }
    }
  }
}
