(
    layerrules: false,
    launcher: (
        default_terminal: "kitty",
        width: 650,
        max_items: 10,
        plugins: [
            Applications(
                run_cache_weeks: 4,
                show_execs: true,
            ),
            Terminal(),
            Shell(),
        ],
    ),
    windows: (
        size_factor: 7,
        workspaces_per_row: 3,
        strip_html_from_workspace_title: true,
        overview: (
            open: (
                modifier: super,
                key: "tab",
            ),
            navigate: (
                forward: "tab",
                reverse: Mod(shift),
            ),
            other: (
                hide_filtered: false,
                filter_by: [],
            ),
        ),
        switch: (
            open: (
                modifier: alt,
            ),
            navigate: (
                forward: "tab",
                reverse: Mod(shift),
            ),
            other: (
                hide_filtered: true,
                filter_by: [current_workspace],
            ),
        ),
    ),
)
